.projects{
    /* background-color: #2e2e2e; */
    /* padding-bottom: 40px; */
    display: flex;
    flex-direction: column;
    /* border: 3px solid yellow; */
    /* padding: 10px; */
  }
  .oneProject{
    margin-left: 10px;
    margin-bottom: 30px;
    padding: 10px;

  }
  .title{
    border-bottom: 2px solid #b18e67;
    display: inline-block;
  }
  .secondary{
    color: darkgray;
  }
  .title:hover{
    border-bottom: 2px solid transparent;
  }
  .proje:hover{
    background-color: rgb(212, 212, 212);
  }
  .picture{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    align-self: center;
    object-fit: cover;
  }