.App {
  background-color: #2e2e2e;
  height: auto;
  width: 100vw;
}
.middle{
  margin: 0 auto;
  padding: 20px;
  height: auto;
  width: 60%;
}
.picture{
  width: 290px;
  border-radius: 10px;
}
.pictureSpace{
  width: 500px;
  height: 500px;

  margin: 0 auto;
}
.contactform{
  /* background-color: red; */
  text-align: center;
}
.contactform input{
  background-color: transparent;
  margin-top: 30px;
  border-width: 0px;
  border-bottom: 1px solid #2e2e2e;
}
.contactform input::placeholder{
  color: #2e2e2e
}
.contactform textarea::placeholder{
  color: #2e2e2e
}
.contactform textarea{
  background-color: transparent;
  margin-top: 30px;
  border-width: 0px;
  border-bottom: 1px solid #2e2e2e;
}



.bigpic{
  width: 500px;
  height: 500px;
}
.webSpace {
  width: 800px;
  height: 500px;
  margin: 0 auto;

}
.webpic{
  width: 800px;
  height: 500px;
}

.projectpic{
  width: 200px;
  height: 150px;
  box-shadow: 0px 0px 15px 2px #5e5e5e;
}
.projectpic:hover{
  box-shadow: 0px 0px 0px 0px ;
}
.phonepic{
  width: 200px;
  box-shadow: 0px 0px 15px 2px #5e5e5e;
}
.phonepic:hover{
  box-shadow: 0px 0px 0px 0px ;
}
.top{
  display: flex;
  flex-direction: row;
  background-color: darkgray;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 2px #9a9a9a;
  padding: 20px;
}
.section{
  background-color: darkgray;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 2px #9a9a9a;
  padding: 20px;
}


.titlewriting{
  
  margin: 0 auto;
  margin-bottom: 5px;
  border-bottom: 2px solid #00fa9a;

  text-align: center;
}
.about{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}
.info{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
.info h2{
  text-decoration: underline;
  text-decoration-color: #00fa9a;
}
.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: red; */
}
.title h4{
  margin-left: 20px;
}
.title h3{
  border-width: 2px;
  border-color: #00fa9a;
}
.title div{
  align-self: flex-end;

}
.about h1{
  /* text-align: center; */
  background-color: #00fa9a;
  padding: 5px

}

.place div{
  align-self: flex-end;
}
.button h4{
  background-color: #00fa9a;
  padding: 3px;
}
.button h4:hover{
  background-color: transparent;
  /* color: #00fa9a */
}
.section p{
  font-size: medium;
}


.place{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* width: 100%; */
}
.projek{
  height: auto;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #2e2e2e;
  /* border-bottom-color: red; */
}