.App {
  width: 100vw;
  height: 100vh;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.middle{
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  overflow: scroll;
}
.me{
  display: flex;
  justify-content: center;
}
ul li {
  color: #aa9499
}




.App p{
  color: white;
  font-size: medium;
  font-weight: 600;
}
.avatar{
  height: 150px;
  align-self: center;
  margin: 20px;
  border-radius: 50%;
}
.me p{
  justify-content: center;
}
.me div{
  align-self: center;
}


.middle::-webkit-scrollbar {
  display: none;
}



.touch{
  text-decoration: underline;
  cursor: pointer;
}
.touch:hover{
  text-decoration: none;
}









.section{
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.titleSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



@media screen and (max-width: 768px) {
  .App{
    width: 100%;
  }
  .middle{
    width: 95%;
  }

  .avatar{
    height: 200px;

  }
  .me{
    flex-direction: column;
    margin-bottom: 20px;
  }




 
 
}